[Desktop Entry]
Type=Application
Version=1.0
Name=MSC Launcher
Comment=Install and launch Minecraft profiles
Comment[ru]=Установка и запуск профилей Minecraft
Exec=msc-launcher
Icon=io.github.danmanima5_cmyk.MSC_Launcher
Terminal=false
Categories=Game;
Keywords=Minecraft;Launcher;Java;Game;
Keywords[ru]=Minecraft;Лаунчер;Java;Игра;
StartupNotify=true
StartupWMClass=Main
